@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #8300ff;
    background: linear-gradient(90deg, #8300ff 0%, #9f39ff 54%, #c58cfa 100%);
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Orbitron', sans-serif;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: #c58cfa;
}

body::-webkit-scrollbar-thumb {
    background-color: #8300ff;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.header{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

.back{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
}

.back:hover{
    position: relative;
    animation: back 1s linear infinite;
}

@keyframes back{
    0%{
        left: 0;
    }
    50%{
        left: -10px;
    }
    100%{
        left: 0;
    }
}

.logo{
    width: 60px;
    height: 60px;
}

.nombre{
    font-size: 30px;
    color: #fff;
}

main{
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.title{
    color: #fff;
    font-size: 80px;
}

.imgMain{
    height: 600px;
    width: 600px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconStyles{
    height: 450px;
    width: 450px;
    margin: auto;
}

section{
    width: 1200px;
    background-color: #fff;
    border-radius: 40px;
    margin: auto;
    padding: 30px;

}

.contenedor_disenos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.diseno{
    border-radius: 30px;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.diseno:hover{
    border: 2px solid #9f39ff;
}

.diseno.uno{
    background-image: url(../img/diseño_uno.jpg);
}

.diseno.uno:hover{
    background-color: #9f39ff73;
}

.diseno.dos{
    background-image: url(../img/estilo_dos.PNG);
}

.diseno.tres{
    background-image: url(../img/estilo_tres.PNG);
}

.diseno.cuatro{
    background-image: url(../img/estilo_cuatro.PNG);
}

.diseno.cinco{
    background-image: url(../img/estilo_cinco.PNG);
}

.diseno.seis{
    background-image: url(../img/estilo_seis.PNG);
}

.diseno.siete{
    background-image: url(../img/estilo_siete.png);
}

.diseno.ocho{
    background-image: url(../img/estilo_ocho.png);
}

@media (max-width: 1200px){
    
    section{
        width: 100%;
    }

    .imgMain{
        height: 400px;
        width: 400px;
    }
    
    .iconStyles{
        height: 300px;
        width: 300px;
        margin: auto;
    }

}

@media (max-width: 850px){

    .header{
        padding: 0;
    }
    
    .back{
        font-size: 20px;
    }
    
    .logo{
        width: 40px;
        height: 40px;
    }
    
    .nombre{
        font-size: 20px;
    }

    .imgMain{
        height: 300px;
        width: 300px;
    }
    
    .iconStyles{
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 380px){
    .title{
        font-size: 60px;
    }
}